<%- include('partials/login_header'); -%>
<div class="space"></div>
<form action="/apply"  method="POST">
  <h2>Join us</h2>
  <label for="email">Email</label>
  <input type="text" name="email"  />
  <div class="email error"></div>
  <label for="roll">Roll No.</label>
  <input type="roll" name="roll"  />
  
  <div class="password error"></div>
  <label for="name">Name</label>
  <input type="name" name="name"  />
  <label for="contact">Contact</label>
  <input type="contact" name="contact"  />
  <label for="drive">Drive</label>
  <input type="drive" name="drive"  />
  <button>Submit</button> </form> 


 <script>
  
</script>