* { margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color:black;
    height: 300vh;
}
.main {
    height: 350vh;
    width: 100%;
}
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(15px);
    font-family: montserrat;
    
}
.space1{
    height: 50px;
    width: 2%;
}
#space{
height: 50px;
width: 60%;
display: flex;
align-items: center;



}

.nav-con{
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.dance-image {
  
    height: 700px;
    width: 100%;
   
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,9)),url("images/image.jpg");
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_text{
    height: 620px;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
    
   
}
.about-us{
    height: 600px;
    width: 100%;
    background-color: black;
    font-family: montserrat;
}
.con{
    height: 300px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: beige;
    font-family: montserrat;
    
}
.gallery-container1{
    height: 300px;
    width: 100%;
    background-color: black;
    
}

.gallery-container1{
    /* width: 90%;
    padding: 20px; */
    /* margin: 100px auto;	  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 300px;
}
.gallery-container1 .image{
    border-radius: 20px;
    margin-top: 15px;
    transition: 0.3s;
    z-index: -1;


}
.gallery-container1 .image:hover{
    transform: scale(1.3);
    z-index: 2;
}
.gallery-container2{
    height: 300px;
    width: 100%;
    background-color: black;
    
}

.gallery-container2{
    /* width: 90%;
    padding: 20px; */
    /* margin: 100px auto;	  */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly   ;
    min-height: 300px;
    font-family: mo;
}
.gallery-container2 .image{
    border-radius: 20px;
    margin-top: 15px;
    transition: 0.3s;
    z-index: -1;


}
.gallery-container2 .image:hover{
    transform: scale(1.3);
    z-index: 2;
}
.gall{
    display: flex;
    flex-direction: column;
}
.popup .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%) scale(0);
    height:600px;
    width: 600px;z-index: 2;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.popup.active .content{
    transition: all 300ms ease-in-out ;
    transform: translate(-50%,-50%) scale(1);
}
.popup .close-btn{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;   
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 50%;
    padding: 2px 5px 7px 5px;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.3);
}
.input-field .validate {
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.05);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    outline: none;
    }

.second-button {

    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;

    
    padding: 12px 18px;
    border-radius: 40px;
    border: none;
    color: white;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    transition: box-shadow .35s ease !important;
    outline: none;
} 
.second-button:active{
    background: rgba(255,255,255,0.05);
    
    border: none;
    outline: none;
    }
h1 ,h2,h3,h4,h5{
        font-family: montserrat;
        color: white;
    }
    p{
        font-family: montserrat;
        color: white;
    }
    a{
        font-family: montserrat;
    }
    ::placeholder {
        color:    white;
        opacity: 0.9;
     }
     input{
        width: 500px;
        font-family: montserrat;
        color: white;
     }
.content h1{
    margin: 15px;
}
.first-button{
    font-family: montserrat;
        color: white;
        background-color: #de3939;
        border: none;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        
        margin-left: 75px;
}
.join{
    
    margin-bottom: 100px;
}
.join-ct{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.footer{
    height: 300px;
    width: 100%px;
    margin: 0%;
    padding: 0%;
    background-color: #212121;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
   
    
    
}
.footer h2{
    margin-top: 5px;
}
.footer-heading{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: montserrat;
}
.socials{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-content{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}