<footer>

    <div class="row" >
    
    <div class="col" >
    
    <img src="./images/logo.png" class="logo" >
    <p style="line-height: 25px; text-align: center;" >The place where all the societies ranging from technical to cultural meet. </p>
      
    
    </div>
    <div class="col">
        <h3>Office</h3>
    <p>IIITA Road</p>
    <p>JHALWA, ALLAHABAD</p> 
    <p> PIN 211015,UP, India</p> 
    <p class="email-id"></p>officialsochub@gmail.com</p>
    <h4>+91-0123456789</h4>
    </div>
    <div class="col">
         <h3 class="fixed" style="font-size: 18px;">Link</h3>
    <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">About Us</a></li>
    <li><a href="">Features</a></li>
    <li><a href="">Contacts</a></li>
    </ul>
    </div>
    <div class="col">
        <h3 class="fixed">Usage Policy</h3>
        <ul>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms</a></li>
            <li><a href="">Others Policy</a></li>
         
            </ul>
    
      
    </div>
    </div>
    <p style="text-align: center; font-size: 15px;">All Rights Reserved © </p>
    </footer>
</body>
</html>
