<div class="footer">
    <div class="footer-heading">
    <h1 style="margin-top: 15px;">GeneticX</h2><br><br>
   </div> 
    <div class="socials">
    <a href="https://www.facebook.com/dancesocietyiiita/"><img src="./images/facebook.svg" style="height: 30px; width: 30px;"</a>
    <a href="https://www.instagram.com/thegeneticxcrew/?hl=en"><img src="./images/insta.svg" style="height: 30px; width: 30px; margin-left: 29px;"</a>
    <a><img src="./images/linkedin.svg" style="height: 40px; width: 40px;margin-left: 29px;"</a>
    <a><img src="./images/gmail.svg" style="height: 30px; width: 30px;margin-left: 29px;"</a> 
    </div>
    <div class="foot-content">
        <pr><p style="font-size: 19px; font-weight: 400;">All rights reserved |  Designed with   <img src="./images/heart.svg" style="height: 20px; width: 20px;">    by team GeneticX</p></pr>
    </div>

</div>